.explore {
    margin-bottom: 200px;

    .explore-wrapper {
        display: flex;
        justify-content: space-between;
        height: 638px;
        margin-top: 200px;

        .__mb {
            margin-bottom: 58px;
        }

        .left-column {

            max-width: 427px;

            .title {

                span {
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 130%;
                    /* or 62px */
                    
                    
                    color: rgba(255, 255, 255, 0.9);
                }
            }

            .subtitle {
                margin-top: 27px;
                margin-bottom: 60px;

                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;
                    /* or 167% */
                    
                    
                    color: rgba(255, 255, 255, 0.55);
                }
            }

            .button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 198px;
                height: 58px;
                border-radius: 8px;
                background-color: #FF6E30;

                &:hover {
                    cursor: pointer;
                    background-color: #ff6e30e7;
                }

                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    /* identical to box height */
                    
                    
                    color: #FFFFFF;
                }
            }

        }

        .right-column {
            display: flex;
            flex-direction: column;

            .cards-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 600px;
            }

            .cards {
                display: flex;
                flex-direction: column;
                width: 288px;
                height: 284px;
                transition: 0.5s;
                
                &:hover {
                    transform: translateY(-20px);
                    }
    
                    &:hover {
    
                        .cards-name {
                            span {
                                color: rgba(255, 255, 255, 1);
                            }
                        }
    
                        .cards-subtitle {
                            color: rgba(255, 255, 255, 0.78);
                        }
                    }
                
    
                .cards-header {
                    display: flex;
                    width: 170px;
                    height: 66px;
                    margin: 33px 0px 0px 33px;
                    width: 100%;
                }
        
                .cards-body {
                    margin: 30px 33px 30px 33px;
    
                    .cards-subtitle {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 30px;
                        color: rgba(255, 255, 255, 0.55);
                    }
                }
        
                .cards-ico {
        
        
                }
        
                .cards-name {
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;
    
    
        
                    span {
                        &:nth-child(1) {
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 36px;
                            color: rgba(255, 255, 255, 0.78);
                        }
                        &:nth-child(2) {
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 27px;
                            color: rgba(255, 165, 55, 0.55);
                        }
                    }
                }
        
                .cards-footer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
        
                    .cards-img {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 96px;
                        height: 42px;
                        margin-left: 33px;
                    }
                    span {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(255, 255, 255, 0.55);
                        
                    }
    
                    .footer-text {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 106px;
                        height: 42px;
                        margin-right: 33px;
                    }
        
                }
    
                &:hover {
                    background: rgba(40, 48, 54, 0.6);
                    border-radius: 15px;
                    background: radial-gradient(circle at top right, rgba(255,168,131, 0.2) 0%, rgb(40, 48, 54,) 20%);
    
                    #hover {
                        color: #FFA537;
                    }
    
                    .footer-text {
                        background: #FF6E30;
                        border-radius: 8px;
    
                        span {
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}